<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Help-Desk Email</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
        body {
            background-color: white;
            color: #2b2929;
            font-family: 'Arial', sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: x-small;
        }

        a {
            white-space: pre;
        }
    </style>
</head>
<body>
<p>Dear Users,</p>
<p>
    Ticket
    <!--/*@thymesVar id="ticketId" type="java.lang.Long"*/-->
    <a href="localhost:8081/overview" th:style="'color: blue'" th:text="${'#' + ticketId}"></a>
    was cancelled by the Engineer.
</p>
</body>